{
  "schemaVersion": "1.0.0",
  "info": {
    "title": "{{- getenv "SPLUNK_BUILD_APP_TITLE" "TA IN DEV UNKNOWN"}}",
    "id": {
      "group": null,
      "name": "{{- getenv "SPLUNK_BUILD_APP_NAME" "TA_UNKNOWN"}}",
      "version": "{{- getenv "SPLUNK_BUILD_VERSION" "0.1.0"}}"
    },
    "author": [
      {
        "name": "{{- getenv "SPLUNK_BUILD_AUTHOR" "unknown"}}",
        "email": "{{- getenv "SPLUNK_BUILD_EMAIL" "support@splunk.com"}}",
        "company": "{{- getenv "SPLUNK_BUILD_APP_COMPANY" "splunk"}}"
      }
    ],
    "releaseDate": null,
    "description": "{{- getenv "SPLUNK_BUILD_APP_DESCRIPTION" "TA IN DEV UNKNOWN"}}",
    "classification": {
      "intendedAudience": null,
      "categories": [],
      "developmentStatus": null
    },
    "commonInformationModels": null,
    "license": {
      "name": "Creative Commons Zero",
      "text": null,
      "uri": "{{- getenv "SPLUNK_BUILD_APP_URI" "LICENSE"}}"
    },
    "privacyPolicy": {
      "name": "Splunk Privacy Policy",
      "text": null,
      "uri": "https://www.splunk.com/en_us/legal/privacy/privacy-policy.html"
    },
    "releaseNotes": {
      "name": "Github Releases",
      "text": null,
      "uri": "https://github.com/splunk/splunk_ta_splunk_connect_for_syslog/releases"
    }
  },
  "dependencies": {
  },
  "tasks": [],
  "inputGroups": {
  },
  "incompatibleApps": {
  },
  "platformRequirements": {
    "splunk": {
      "Enterprise": "*"
    }
  }
}
